// InventoryDash.scss

.inventory-dash-container {
    display: flex;
    flex-direction: column;
    align-items: center; // Center horizontally
    padding: 20px;

    h1 {
        color: red;
        align-items: center; // Set h1 text color to red
    }

    .search-bar {
        margin-bottom: 20px;

        .input-group {
            position: relative;
            width: 400px; // Set the width of the search bar

            input.form-control {
                border-radius: 0;
                height: 30px; // Set the height of the input field
            }

            .icon-container {
                position: absolute;
                right: -50px; // Align the icon to the right side
                top: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                padding: 0 10px;
                background-color: #f8f9fa;
                border: 1px solid #ced4da;
                cursor: pointer;
                height: 30px; // Set the height of the icon container

                img.img-fluid.icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
  
    .table-responsive {
      margin-bottom: 20px;
  
      tbody tr:hover {
        background-color: red; // Change background color of table rows on hover to red
        color: white; // Change text color of table rows on hover to white
      }
    }
  
    .values {
      margin-bottom: 20px;
  
      p {
        margin-bottom: 5px;
      }
    }
  
    .pdf-button {
      &:hover {
        background-color: red; // Change background color of PDF button on hover to red
        border-color: red; // Change border color of PDF button on hover to red
      }
    }
  
    .pagination {
      margin-top: 20px;
  
      .page-link {
        &:hover {
          background-color: rgb(1, 10, 4); // Change background color of pagination links on hover to red
          border-color: rgb(0, 0, 0); // Change border color of pagination links on hover to red
        }
      }
    }
  }
  