#node_modules
/node_modules

#enviroment
.env

# production
/build

# runtime data
/.pnp
.pnp.js

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

Frontend/Anuja_Super_Mart/yarn.lock


#yarn lock
yarn.lock



