.custom-card {
  width: 300px; /* Set a fixed width for the card */
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease; /* Add transition effect for smooth shadow change */

  .card-body {
    padding: 20px;

    .card-title {
      font-size: 1.25rem;
      margin-bottom: 10px;
      text-align: center;
      font-family: 'Arial', sans-serif;
      color: #050505;
      text-transform: capitalize;
    }

    .card-text {
      margin-bottom: 5px;
    }

    .custom-btn {
      width: 100%;
    }
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Change box shadow on hover */
  }

  &:hover .card-img-top {
    animation: pulse 1s infinite; /* Start pulse animation on hover */
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
