/* MenuHeader.scss */

/* Unique class for the container */
.menu-header-container {
    /* Add styles for the container */
    justify-content: center;
    
    align-items: center;
    margin-left: 47%;
  

  }
  
  /* Unique class for the heading */
  .menu-header-heading {
    
    align-items: center;
    justify-content: center;
    color: #FD204F; /* Setting color as per your example */
    /* Add additional styles for the heading */
  }
  