/* CSS for the topic */
/* CSS for the menu */
div > h1 {
    text-align: center; /* Center the text horizontally */
    margin-top: 20px; /* Adjust margin from the top as needed */
    color: #FD204F; /* Color for the text */
}

/* CSS for the categories */
div[name="Categories"] {
    display: flex; /* Use flexbox layout */
    flex-wrap: wrap; /* Allow buttons to wrap to the next line if necessary */
    justify-content:center; /* Center the buttons horizontally */
}

div[name="Categories"] button {
    padding: 8px 16px; /* Add padding to the buttons */
    margin: 8px; /* Add margin to create space between buttons */
    border: 1px solid #007bff; /* Add border to buttons with blue color */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    cursor: pointer; /* Change cursor to pointer on hover */
}

div[name="Categories"] button:hover {
    background-color: #0056b3; /* Change button background color on hover */
    border-color: #0056b3; /* Change border color on hover */
}
