/* CSS for the order section */
.OrderSec {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px; /* Adjust the width of the order section as needed */
    height: 100vh; /* Make the section cover the full height of the viewport */
    background-color: #ffffff; /* Background color for the section */
    border-left: 1px solid #ccc; /* Border separating the order section from the rest of the page */
    padding: 20px; /* Add padding to the section */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* CSS for the order header */
div[name="order_header"] {
    margin-bottom: 20px; /* Adjust spacing between order header and item list */
}

/* CSS for the item list */
div[name="itemlist"] {
    margin-bottom: 20px; /* Adjust spacing between item list and total, balance, and button */
}

/* CSS for the total, balance, and button */
.OrderSec > div:last-child {
    margin-bottom: 20px; /* Adjust spacing between total, balance, and button and the bottom of the section */
}

/* CSS for the button */
.OrderSec button {
    background-color:#FD204F; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Add padding to the button */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.OrderSec button:hover {
    background-color: #FD204F; /* Change button background color on hover */
}
