.inventory-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;

}

.inventory-card {
    width: 200px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.inventory-card h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

.inventory-card p {
    margin: 0;
    font-size: 14px;
}

/* Add additional styling as needed */
