

.topic {
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  .pickup-orders-container {
    width: 30%;
    margin-left: 30%; /* Adjust the margin to 30% from the left */
  }
  
  