
.sidebar {
  background-color: #343a40; 
}

.sidebar-item {
  transition: background-color 0.3s ease, color 0.3s ease; 
  display: flex; 
  align-items: center; 
  padding: 10px;
  width: 200px;
}

.sidebar-item:hover {
  background-color:  #dc3545; 
  color: white; 
  cursor: pointer; 
}

.sidebar-item:hover .text {
  color: white; 
}

.sidebar-item .icon {
  width: 24px; 
  height: 24px; 
  margin-right: 10px; 
}

.sidebar-item .text {
  font-size: 16px; 
  color: black; 
}
