    .icon {
    width: 30px; /* Adjust the width to your desired size */
    height: auto; /* Auto height to maintain aspect ratio */
  }
  
  .text {
    font-family: Arial, sans-serif; /* Change the font family to a more user-friendly one */
    font-size: 15px; /* Adjust the font size to your preference */
    margin-left: 5px; /* Add some spacing between the icon and text */
  }
  
  .sidebar {
    background-color: #D9D9D9;
    height: 100vh; /* Stretch the sidebar to 100% of viewport height */
    display: flex;
    flex-direction: column;
  }
  
  .sidebar-item {
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition for color change */
    padding: 10px; /* Add padding to separate items */
    display: flex; /* Use flexbox to align icon and text */
    align-items: center; /* Center items vertically */
  }
  
  .sidebar-item:hover {
    background-color: #f0f0f0; /* Change background color of item on hover */
    color: red; /* Change text color to red on hover */
  }
  
  .sidebar-item img {
    margin-right: 10px; /* Add space to the right of the image */
  }
  
  .sidebar-item span {
    flex-grow: 1; /* Allow text to take up remaining space */
  }
  