.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center items horizontally */
}

.item {
  width: 200px;
  margin: 10px;
  border: 3px solid #FD204F; /* pink border */
  background-color: #ffffff; /* white background */

  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item img {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.item:hover img {
  transform: scale(1.1);
}

.details {
  margin-top: 10px;
}

.details h2 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.details p {
  font-size: 1rem;
  color: #666;
}
