body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #D9D9D9; /* White background */
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap; /* Adjust to prevent wrapping */
    justify-content: space-between;
}

.paragraph {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width and add margin */
    margin-right: 10px; /* Add margin between paragraphs */
    padding: 10px;
    background-color: #ffffff; /* White background */
    border: 3px solid #FD204f;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out; /* Add transition for smooth pop-in effect */
}

.paragraph:hover {
    transform: scale(1.05); /* Scale up on hover */
}

h2 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}
