.gradient-custom-3 {
    /* fallback for old browsers */
    background: #d66464;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(150, 53, 61), rgba(86, 38, 48, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(150, 53, 61), rgba(86, 38, 48, 0.5))
    }
    .gradient-custom-4 {
    /* fallback for old browsers */
    background: #d66464;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(150, 53, 61), rgba(86, 38, 48, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(150, 53, 61), rgba(86, 38, 48, 0.5))
    }